.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top:20%;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-text {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 8px;
}

.footer-copy {
  font-size: 12px;
  color: #888888;
}
