.footer {
  background-color: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 20vh;
  width: 100%;
 
}
html, body {
  height: 100%;
  margin: 0;

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;   /* this pushes footer down */
}

.footer {
  background-color: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

/* Mobile */
@media (max-width: 600px) {
  .footer {
    padding: 15px 10px;
    margin-top: 35vh;
  }

  .footer-title {
    font-size: 16px;
  }

  .footer-text {
    font-size: 13px;
  }

  .footer-copy {
    font-size: 11px;
  }
}