/* Background Image Layer */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("Luxmburg.jpg")!important;
  background-size: cover;
  background-position: center;

  filter: blur(0.5px) brightness(0.8); /* blur + dark */
  z-index: -1;
}

/* Page Content */
.content {
  position: relative;
  z-index: 1;
  color: white;
}



.name h1{
  color: rgb(213, 232, 213);
  font-size: 20vh;
}
.name img{
  width: 100%;
  height:100%;
}

.Home{
  height: 100vh;
  border: 2px solid black;
}

.Gallery{
    height: 100vh;
  border: 2px solid black;
}

.Blog{
    height: 100vh;
  border: 2px solid black;
}